/* BASE COLORS */
:root {
    --white: #ffffff;
    --black: #000000;
}

/* GENERAL COLORS */
:root {
    --brand-bright: #ffffff;
    --brand-blue: #20a7a7;
    --brand-blue-dark: #0b3b75;
    --brand-gray: #414040;
    --brand-gray-light: #757575;
    --bg-body: #d7fce5;
}

/* ADDITIONAL COLORS */
:root {
    --shadow: rgba(0, 0, 0, 0.4);
    --shadow-light: rgba(73, 70, 70, 0.4);
    --gray-light: #0000002d;
    --blue: #0000002d;
}

/*COMMON*/

body {
    font-family: "Gilroy", sans-serif;
    color: var(--black);
    background-color: var(--bg-body);
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--white);
}

.inner {
    padding: 30px 60px;
}

.hidden {
    display: none;
}

.fl-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: var(--brand-blue-dark);
    background: var(--white);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    position: relative;
    border-radius: 8px;
    border: 1px solid rgb(184, 185, 187);
    user-select: none;
    cursor: pointer;

    margin-top: 10px;
}

.btn:hover {
    box-shadow: 1px 2px 8px 0.6px var(--shadow-light);
}

.btn:active {
    top: 2px;
    right: 2px;
    box-shadow: 1px 1px 2px 0.6px var(--shadow-light);
}

.btn__close,
.btn__del,
.btn__edit {
    color: var(--brand-blue-dark);
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    display: block;
    position: absolute;
    top: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn__close:hover,
.btn__del:hover,
.btn__edit:hover {
    opacity: 1;
    color: var(--shadow);
    box-shadow: 1px 2px 3px var(--shadow);
}

.btn__close:active,
.btn__del:active,
.btn__edit:active {
    top: 12px;
    opacity: 1;
    color: var(--shadow);
    box-shadow: 1px 1px 2px var(--shadow);
}

.btn__close {
    color: var(--brand-gray-light);
    width: 32px;
    height: 32px;
    right: 9px;
}

.btn__close:hover {
    color: var(--brand-gray);
}

.btn__close:active {
    color: var(--brand-gray);
    right: 10px;
}

.btn__del {
    width: 40px;
    height: 40px;
    right: 11px;
}

.btn__del:active {
    right: 12px;
}

.btn__del::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0.8;
    transition: all 1.3s ease;
    filter: grayscale(100%) contrast(0.5) brightness(1.1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' %3E%3Cg%3E%3Cpath d='m62.205 150 26.569 320.735C90.678 493.865 110.38 512 133.598 512h244.805c23.218 0 42.92-18.135 44.824-41.265L449.795 150H62.205zm118.781 302c-7.852 0-14.458-6.108-14.956-14.063l-15-242c-.513-8.276 5.771-15.395 14.033-15.908 8.569-.601 15.381 5.757 15.908 14.033l15 242c.531 8.57-6.25 15.938-14.985 15.938zM271 437c0 8.291-6.709 15-15 15s-15-6.709-15-15V195c0-8.291 6.709-15 15-15s15 6.709 15 15v242zm89.97-241.062-15 242c-.493 7.874-7.056 14.436-15.908 14.033-8.262-.513-14.546-7.632-14.033-15.908l15-242c.513-8.276 7.764-14.297 15.908-14.033 8.262.513 14.546 7.632 14.033 15.908zM451 60h-90V45c0-24.814-20.186-45-45-45H196c-24.814 0-45 20.186-45 45v15H61c-16.569 0-30 13.431-30 30 0 16.567 13.431 30 30 30h390c16.569 0 30-13.433 30-30 0-16.569-13.431-30-30-30zm-120 0H181V45c0-8.276 6.724-15 15-15h120c8.276 0 15 6.724 15 15v15z' fill='%23ced7df'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.btn__del:hover::before {
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: all 0.2s ease;
    filter: grayscale(0) contrast(0.3) brightness(0.7);
}

.btn__edit {
    width: 40px;
    height: 40px;
    left: 11px;
}

.btn__edit:active {
    left: 10px;
}

.btn__edit::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    transition: all 1.3s ease;
    filter: grayscale(100%) contrast(0.5) brightness(1.3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 497 497' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cpath fill='%239b99c9' d='M488.695 286.873a7.516 7.516 0 0 0 6.272-6.467C496.307 269.96 497 259.311 497 248.5s-.693-21.459-2.033-31.906a7.515 7.515 0 0 0-6.272-6.467l-41.698-6.627a202.31 202.31 0 0 0-26.333-63.525l24.794-34.167a7.517 7.517 0 0 0-.139-9.008 249.97 249.97 0 0 0-45.12-45.12 7.519 7.519 0 0 0-9.008-.139l-34.167 24.794a202.29 202.29 0 0 0-63.525-26.333l-6.627-41.698a7.516 7.516 0 0 0-6.467-6.272C269.959.693 259.311 0 248.5 0s-21.459.693-31.906 2.033a7.515 7.515 0 0 0-6.467 6.272L203.5 50.002a202.31 202.31 0 0 0-63.525 26.333l-34.167-24.794a7.517 7.517 0 0 0-9.008.139A249.97 249.97 0 0 0 51.68 96.8a7.519 7.519 0 0 0-.139 9.008l24.794 34.167A202.29 202.29 0 0 0 50.002 203.5l-41.698 6.627a7.516 7.516 0 0 0-6.272 6.467C.693 227.041 0 237.689 0 248.5s.693 21.459 2.033 31.906a7.515 7.515 0 0 0 6.272 6.467l41.698 6.627c17.215 76.258 77.24 136.282 153.498 153.498l6.627 41.698a7.516 7.516 0 0 0 6.467 6.272c10.446 1.34 21.095 2.033 31.906 2.033s21.459-.693 31.906-2.033a7.515 7.515 0 0 0 6.467-6.272l6.627-41.698a202.31 202.31 0 0 0 63.525-26.333l34.167 24.794a7.517 7.517 0 0 0 9.008-.139 249.97 249.97 0 0 0 45.12-45.12 7.519 7.519 0 0 0 .139-9.008l-24.794-34.167a202.29 202.29 0 0 0 26.333-63.525zM248.5 377C177.531 377 120 319.469 120 248.5S177.531 120 248.5 120 377 177.531 377 248.5 319.469 377 248.5 377z' data-original='%239b99c9'/%3E%3Cpath fill='%236461ac' d='M248.5 75v45c70.969 0 128.5 57.531 128.5 128.5S319.469 377 248.5 377v45c95.821 0 173.5-77.679 173.5-173.5S344.321 75 248.5 75z' data-original='%236461ac'/%3E%3Cpath fill='%23807dbb' d='M248.5 75C152.679 75 75 152.679 75 248.5S152.679 422 248.5 422c79.253 0 143.5-77.679 143.5-173.5S327.753 75 248.5 75zm0 287C185.816 362 135 311.184 135 248.5S185.816 135 248.5 135c14.792 0 28.922 2.833 41.88 7.98l-23.718 87.358 87.358-23.718c5.147 12.958 7.98 27.088 7.98 41.88 0 62.684-50.816 113.5-113.5 113.5z' data-original='%23807dbb'/%3E%3Cpath fill='%232c2c2f' d='M55.396 454.461 4.383 492.617c4.979 4.979 12.58 5.709 18.349 2.225l29.611-17.904z' data-original='%232c2c2f'/%3E%3Cpath fill='%23424247' d='m15.874 487.984 39.522-33.523 2.021-14.877-37.353 5.073-17.906 29.611c-3.485 5.768-2.755 13.369 2.225 18.349 1.66 1.66 6.484-.387 11.491-4.633z' data-original='%23424247'/%3E%3Cpath fill='%23f2b084' d='m131.662 428.977 204.802-261.618L41.583 466.177l10.76 10.76z' data-original='%23f2b084'/%3E%3Cpath fill='%23f4ce93' d='M301.35 187.85 68.023 365.338l-47.96 79.319 21.52 21.52 276.876-261.218z' data-original='%23f4ce93'/%3E%3Cpath fill='%23ec9345' d='M328.757 168.243 218.5 248.5l-86.838 116.838c-17.573 17.574-17.573 46.066 0 63.64L354.02 206.62a113.637 113.637 0 0 0-25.263-38.377z' data-original='%23ec9345'/%3E%3Cpath fill='%23ecc04b' d='M68.023 365.338c17.573 17.574 46.066 17.574 63.639 0l197.094-197.094a113.628 113.628 0 0 0-38.376-25.263z' data-original='%23ecc04b'/%3E%3C/svg%3E");
}

.btn__edit:hover::before {
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: all 0.2s ease;
    filter: grayscale(0) contrast(1) brightness(1);
}

.border {
    border-radius: 15px;
    border: none;
}

.shadow {
    box-shadow: 3px 5px 12px var(--shadow);
}

.shadow-light {
    box-shadow: 2px 3px 12px var(--shadow);
}

.bold {
    font-weight: 700;
}


/*HEADER*/

.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(37,138,138);
    background: linear-gradient(0deg, rgba(37,138,138,1) 0%, rgba(32,167,167,1) 50%, rgba(37,138,138,1) 100%);
    box-sizing: border-box;
}

.logo__container {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.logo__link {
    color: #0056b3;
    position: relative;
    font-weight: 700;
}

.logo__link:visited {
    color: #0056b3;
}

.logo__link:active {
    color: #0056b3;
    top: 3px;
    right: 3px;
    box-shadow: 1px 1px 2px 0.6px rgba(0, 0, 0, 0.1);
}

.logo__box {
    max-width: 200px;
}

.logo__text {
    color: var(--bg-body);
    font-size: 2rem;
}

.header__buttons {
    display: flex;
    gap: 20px;
}

/*NAVIGATION*/

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #87f1d7;
    transition: all 0.5s;
    z-index: 1;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-right: 20px;
}

.nav__search-arr {
    width: 35%;
    padding: 0 5px 0 10px;
    margin-right: 15px;
    border: 1px solid var(--brand-blue-dark);
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
}

::placeholder {
    color: var(--brand-blue-dark);
}

.select {
    position: relative;
    width: 12%;
    height: 40px;
    margin-right: 15px;
    user-select: none;
    z-index: 2;
}

.select.is-active .select__body {
    display: block;
}

.select__header {
    border: 1px solid var(--brand-blue-dark);
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.select__current {
    color: var(--brand-blue-dark);
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
}

.select__icon {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: right;
    height: 40px;
    margin-right: 10px;
    width: 40px;
    color: var(--brand-blue-dark);
}

.select__body {
    border: 1px solid #cccccc;
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #f8f9fa;
}

.select__item {
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    text-align: center;
}

.select__item:hover {
    background-color: #f2f2f2;
}

.nav__btn {
    display: none;
}

.btn__create {
    width: 180px;
    color: var(--brand-blue-dark);
}

/*SECTION*/

.board {
    min-height: calc(100vh - 100px - 100px - 60px - 30px - 30px);
    position: relative;
}

.board__text {
    color: #0b3b75;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.board__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 30px;
    column-gap: 15px;
}

/*FOOTER*/

.footer {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--bg-body);
    column-gap: 30px;
    background-color: var(--brand-blue);
}

/*MODAL*/
.card {
    font-size: 16px;
    font-weight: 400;
    /* text-align: center; */
    position: relative;
    padding: 25px 45px 35px;
    user-select: none;
}
.btn-delete {
    background-color:red;
    margin-top: 5px;
    border-radius: 5px;
}
.btn-show-more{
    background-color: aqua;
    border-radius: 5px;
}
.modal {
    display: none;
}
.entrance{
    position: fixed;
    padding: 20px;
    left: 30%;
    top: 30%;
    width: 32%;
    height: 32%;
    overflow: auto;
    background-color: white;
    padding-top:40px ;
    z-index: 1;
}
.usersign_btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}


.modal-content {
    background-color: var(--bg-body);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#loginForm {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    margin-right: 7px;
    font-size: 15px;
    position: relative;
    top: 4px;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

.form__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 129, 129, 0.65);
     display: none; 
    z-index: 999;
}

.form__inner {
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
    position: relative;
}

.form {
    background-color: #b9f1e3;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #818181;
    border-radius: 10px;
}

.modal-visit__header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
}

.form input,
.form select,
.form textarea {
    width: calc(100% - 20px);
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #b8b9bb;
    border-radius: 5px;
    background-color: white;
    resize: none;
    padding: 4px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row__limited {
    display: inline-block;
    justify-content: center;
    width: auto;
}

[data-show="hidden"] {
    display: none;
}

.modal-visit__button-wrapper {
    display: flex;
    justify-content: center;
}

.modal-visit__submit-button {
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px;
}

.example-placeholder::placeholder {
    color: lightgrey;
    margin-top: 2px;
    margin-right: 2px;
}

.example-placeholder {
    color: black;
}


